---
# The name of your project
title: Spring Cloud Connectors

badges:


  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-connectors
      icon: github

    - name: Issues (Github)
      url:  https://github.com/spring-cloud/spring-cloud-connectors/issues
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.spring.io/browse/CLOUD
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-cloud-connectors
      icon: stackoverflow


---
<!DOCTYPE HTML>
<html lang="en-US">


{% capture billboard_description %}

Spring Cloud Connectors simplifies the process of connecting to services and gaining operating environment awareness in cloud platforms such as Cloud Foundry and Heroku, especially for Spring applications. It is designed for extensibility: you can use one of the provided cloud connectors or write one for your cloud platform, and you can use the built-in support for commonly-used services (relational databases, MongoDB, Redis, RabbitMQ) or extend Spring Cloud Connectors to work with your own services.

{% endcapture %}

{% capture community_extensions %}
## Community Extensions

* [Spring Cloud Connectors for SAP HANA Cloud Platform (HCP)](https://github.com/SAP/spring-cloud-sap)
* [Spring Cloud Connectors for IBM Bluemix](https://github.com/IBM-Bluemix/bluemix-cloud-connectors)
* [Spring Cloud Connectors for Pivotal Spring Cloud Services](https://github.com/pivotal-cf/spring-cloud-services-connector)
* [Spring Cloud Connectors for Pivotal Gemfire](https://github.com/pivotal-cf/spring-cloud-gemfire-connector)
* [Spring Cloud Connectors for Pivotal Single Sign-On Service](https://github.com/pivotal-cf/spring-cloud-sso-connector)
* [Spring Cloud Connectors for Amazon S3](https://github.com/Orange-OpenSource/spring-cloud-s3-connectors)
{% endcapture %}

{% capture main_content %}

## Features

Spring Cloud Connectors focuses on providing a good out-of-the-box experience for typical use cases and an extensibility mechanism to cover others.

* **Java and XML config for Spring applications**: Simple ways to create beans for services bound to an application.
* **Cloud platform extensibility**: The concept of the cloud connector, which allows you to extend Spring Cloud Connectors' functionality to other cloud platforms.
* **Service information and connector extensibility**: Your own Spring Cloud Connectors extensions can connect your application to any service by extracting the service connection information from the application operating environment, and (optionally) can transform the information into a service connector.

### Constituent Projects

* [Spring Cloud Connectors Core](http://cloud.spring.io/spring-cloud-connectors/spring-cloud-connectors.html#_spring_cloud_connectors_core): Core library. Cloud-agnostic, and does not rely on Spring; provides an entry point for application developers who choose to access cloud services and application information programmatically, and provides an extension mechanism for contributing cloud connectors and service connector creators.
* [Spring Cloud Service Connector](http://cloud.spring.io/spring-cloud-connectors/spring-cloud-spring-service-connector.html): Library that provides service connector creators for `javax.sql.DataSource` and various connection factories from Spring Data projects.
* [Cloud Foundry Connector](http://cloud.spring.io/spring-cloud-connectors/spring-cloud-cloud-foundry-connector.html): Cloud connector for Cloud Foundry.
* [Heroku Connector](http://cloud.spring.io/spring-cloud-connectors/spring-cloud-heroku-connector.html): Cloud connector for Heroku.


<span id="quick-start"></span>
## Quick Start

{% include download_widget.md %}

Then if you are working with a Spring application, follow instructions in [Spring Cloud Spring Service Connector](http://cloud.spring.io/spring-cloud-connectors/spring-cloud-spring-service-connector.html). If you aren't using Spring, take a look at [Spring Cloud Connectors Core](http://cloud.spring.io/spring-cloud-connectors/spring-cloud-connectors.html#_spring_cloud_connectors_core).

{{ community_extensions | markdownify }}

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Spring Music](https://github.com/cloudfoundry-samples/spring-music)
* [Spring SendGrid](https://github.com/cloudfoundry-samples/spring-sendgrid)

{% endcapture %}


{% include project_page.html %}
</html>
